* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 4px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 48px 0;
}

.max-width-wrapper {
  max-width: 500px;
  margin: auto;
}

.intro-chunk {
  margin: 48px 0;
  max-width: 400px;
  padding: 0 16px;
}

.intro-chunk p {
  font-size: 1.1em;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  display: inline-block;
  margin-left: -24px;
  margin-bottom: 2px;
  margin-top: -8px;
  padding: 12px 24px;
}

.card {
  padding: 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}
